VITE_API_BASE_URL=/api
VITE_API_PROXY_TARGET=http://localhost:8080
VITE_KEYCLOAK_CLIENT_ID=oauth2-pkce-client
VITE_KEYCLOAK_AUTH_URL=http://localhost:8181/realms/fitness-app/protocol/openid-connect/auth
VITE_KEYCLOAK_TOKEN_URL=http://localhost:8181/realms/fitness-app/protocol/openid-connect/token
VITE_AUTH_REDIRECT_URI=http://localhost:5173
